@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');
@import 'tailwindcss';

@theme {
	--font-sans: 'DM Sans', 'sans-serif';
	--font-serif: 'DM Serif Display', 'sans-serif';

	--color-background: light-dark(#ffffff, #1a1a1a);
	--color-primary: light-dark(#000000, #ffffff);
	--color-secondary: light-dark(#6b7280, #a0a0a0);
	--color-fire: #ffa843;

	--drop-shadow-soft: 0 0px 16px rgba(0, 0, 0, 0.04);
}

html,
body {
	min-height: 100dvh; /* dynamic viewport for mobile browsers */
	color-scheme: light dark; /* Enable system dark mode detection */
}

body {
	color: theme('color-primary');
	background-color: theme('color-background');
}

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 1,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24;
}
